@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.contentWrapper {
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    padding-left: 32px;
}

.authButton {
    margin-top: 40px;
    width: 480px;
}

.forgotPassWrapper {
    padding-top: 8px;
}

.input {
    width: 480px;
    height: 56px;
}