.Cart_card_wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 48px;
    /* background-color: aqua; */
    width: 1120px;
    height: 241.18px;
}

.Cart_card {
    width: 1120px;
    height: 192.18px;
    /* background-color: blue; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Cart_image {
    width: 256px;
    height: 192.18px;
    background: #D7E4FD;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Cart_view {
    width: 164px;
    height: 192px;
}

.Cart_info {
    width: 446px;
    height: 120px;
    /* background-color: yellowgreen; */
    display: flex;
    flex-direction: column;
    margin-left: 32px;

}

.Fav_title {}

.Fav_price {}

.Cart_butt {
    /* background-color: yellowgreen; */
    margin-left: 330px;
}