@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.input {
    height: 56px;
    width: 452px;
    border: 1px solid #e7e7e7;
    padding-left: 24px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
}