.card_main {
    position: relative;
    width: 352px;
    height: 453px;
    left: 0px;
    top: 0px;
    margin-bottom: 49px;



    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    cursor: pointer;
    padding: auto;



}

.card_container {
    width: 352px;
    height: 453px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_view {
    width: 352px;
    height: 265px;
    background: #FEE9E2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card_image {
    width: 226px;
    height: 264px;

}

.card_info {
    width: 352px;
    height: 168px;
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card_auth_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;

    width: 335px;
    height: 96px;
    flex: none;
    order: 0;
    flex-grow: 0;
    justify-content: space-between;

}

.card_title {
    width: 335px;
    height: 64px;

    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    flex: none;
    order: 0;
    flex-grow: 0;

}

.card_subtitle {
    width: 226px;
    height: 24px;

    font-family: 'Helios';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #A8A8A8;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.price {

    width: 53px;
    height: 32px;
    left: 0px;
    top: 136px;
    /* background-color: aqua; */
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
}

.card_price {
    width: 352px;
    height: 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: blue; */
}