@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

.accountContainer {
  display: flex;
  justify-content: center;

}

.titleWrapper {

  width: 1044px;
  height: 184px;
  /* background-color: yellowgreen; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0px;
}

.accountWrapper {
  width: 1120px;
  height: 925px;
  display: flex;
  flex-direction: column;
  font-family: Roboto, sans-serif;
}

.profileInfoWrapper {
  display: flex;
  justify-content: space-between;
}

.newPassWrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 72px;
}

.buttonsWrapper {
  display: flex;
  justify-content: flex-end;
  gap: 32px;
  padding-bottom: 72px;
  padding-top: 48px;
}

.accountButtons {
  width: 256px;
}

.Detailpage_title {
  width: 1044px;
  height: 184px;
  /* background-color: yellowgreen; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 0px;


}