.pagination {
    width: 1120px;
    height: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    top: 46px;
    /* margin-left: -36px; */
    list-style-type: none;
    padding: 0px;


}

.wrapper {
    width: 1120px;
    height: 26px;

}